a{
    text-decoration: none;
    color: black;
    background-color:rgb(142, 193, 142);
    padding:5px;
    border-radius: 5px;
}
body{
    background-color:rgb(232, 255, 232);
    text-align: center;
}

