.landingLink{
    text-decoration: none;
    color: black;
    background-color:rgb(183, 212, 165);
    padding:5px;
    border-radius: 5px;
}

.detailLink{
    text-decoration: none;
    text-transform: capitalize;
    color: black;

}
.detailLink:hover{
    color: rgb(93, 137, 65);
}
.signOut{
    float: right;
    padding: 0 30px 0 0;
}
.plantDetail{
    text-align: left;
}
.plantDetail h4{
    text-decoration: underline;
}
.profile a{
    text-decoration: none;
    color: black;
}
.name:hover{
    color: rgb(93, 137, 65);
}
.post{
    background:rgb(183, 212, 165);
    text-decoration: underline;
}
/* .ul{
    list-style-type: none; 
    padding: 0; 
    margin: 0;
} */
header{
    background-color:rgb(183, 212, 165);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background-color:rgb(183, 212, 165);
    padding: 1%;
}
header h3{
    float: left;
    padding: 0;
    margin: 0;
}
body{
    background-color:rgb(250, 255, 248);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:rgb(183, 212, 165);
    padding: 1%;
}
.footer{
    padding: 0 10% 0 10%;
    text-decoration: none;
    color: black;
}
.footer:hover{
    color: rgb(93, 137, 65);
}
