.landingLink{
    text-decoration: none;
    color: black;
    background-color:rgb(183, 212, 165);
    padding:5px;
    border-radius: 5px;
}
.landing{
    background: url('https://img.freepik.com/free-vector/nature-background-with-golden-foil_52683-46949.jpg?w=2000') no-repeat center center fixed;
    background-size: cover;
}
.background{
    background: url('https://img.freepik.com/free-vector/watercolor-leaves-with-empty-space_23-2148867775.jpg?w=826') no-repeat center center fixed;
    background-size: cover;
}
.backdrop a{ 
    backdrop-filter: blur(10px);
    ba
}
.detailLink{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}
.detailLink:hover{
    color: rgb(93, 137, 65);
}
.signOut{
    float: right;
    padding: 0 30px 0 0;
    text-decoration: none;
    color: black;
}
.signOut:hover{
    color: rgb(93, 137, 65);
}
.plantDetail{
    text-align: center;
    backdrop-filter: blur(5px);
}
.plantDetail h4{
    text-decoration: underline;
}
.profile a{
    text-decoration: none;
    color: black;
    background-color:rgb(183, 212, 165);
}
.profile a:hover{
    color: rgb(93, 137, 65);
}
.name:hover{
    color: rgb(93, 137, 65);
}
.post a{
    background:rgb(183, 212, 165);
}
.deletePost{
    text-decoration: none;
    color: black;
}
.deletePost:hover{
    color: rgb(93, 137, 65);
}
.deleteConfirm:hover{
    color: red;
}
.ul{
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}
.username h1{
    text-transform: capitalize;
}
.plantPost{
    float: left;
    margin: 0 0 0 25%;
    padding: 5px;
    border-radius: 5px;
}
.soilPost{
    float: right;
    margin: 0 25% 0 0;
    padding: 5px;
    border-radius: 5px;
}
.editDelete a{
    margin: 0 25px 0 25px;
    padding: 5px;
    border-radius: 5px;
}
/* body, html{
    height: 100%;
} */
header{
    background-color:rgb(183, 212, 165);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background-color:rgb(183, 212, 165);
    padding: 1%;
}
header h3{
    float: left;
    padding: 0;
    margin: 0;
}
body{
    background-color:rgb(250, 255, 248);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 30%;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:rgb(183, 212, 165);
    padding: 1%;
}
.footer{
    padding: 0 10% 0 10%;
    text-decoration: none;
    color: black;
}
.footer:hover{
    color: rgb(93, 137, 65);
}