{% load static %}
 
<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
   <script src="{% static 'scripts/app.js' %}" defer></script>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>
       {% block title %}
       {% endblock %}
   </title>
</head>
<header>
    <h3>PlantStation</h3>
    <a class='signOut' href="/accounts/logout/">Sign Out</a>
    {% block header %}
    {% endblock %}
</header>
<body>
    {% block body %}
    {% endblock %}
</body>
<footer>
    <a class='footer' href = '/plants/'>Plants</a>
    <a class='footer' href = '/soil/'>Soils</a>
    <a class='footer' href = '/user/{{user.username}}/'>Profile</a>
    <a class='footer' href = '/admin/'>Admin</a>
</footer>
</html>