{% extends 'base.html' %}
{% load static%}
{% block title %}
   Plant Page
{% endblock %}
 
{% block header %}
<form>
    <div>
        <input type ='text' name='name' placeholder='Plant Name'/>
        <input type = 'submit' value='Search'/>
    </div>
</form>
{% endblock %}

{% block body %}
   <h1>{{header}}</h1>
   {% for plant in plants %}
        <img src={{plant.img.url}}/>
        <div class = 'backdrop'></div>
            <a class='detailLink' href ="{% url 'plant_detail' plant.pk %}">Name: {{ plant.name }}</a>
        </div>
   {% endfor %}
{% endblock %}
