{% extends 'base.html' %}
{% load static %}
{% block title %}
   Plant Page
{% endblock %}
 
{% block header %}
<form>
    <div>
        <input type ='text' name='name' placeholder='Plant Name'/>
        <input type = 'submit' value='Search'/>
    </div>
</form>
{% endblock %}

{% block body %}
   <h1>{{header}}</h1>
   {% for plant in plants %}
        <img src={% static "main_app/static/images/72778430_3_v2_TQpTDDE.png" %}/>
        <a class='detailLink' href ="{% url 'plant_detail' plant.pk %}">Name: {{ plant.name }}</a>
   {% endfor %}
{% endblock %}
