{% extends 'base.html'%}

{% block body %}

<h2>{{ plant.name }}</h2>
<div class = 'detailImg'>
    <img src={{plant.img.url}}/>
</div>  
<div class='plantDetail'>
    <h4>Water</h4>
    <p> {{ plant.water }}</p>
    <h4>Light</h4>
    <p>{{ plant.light }}</p>
    <h4>Temperature</h4>
    <p>{{ plant.temperature }}</p>
    <h4>Soil</h4>
    <ul class = 'ul'>
        {% for soil in plant.soils.all %}
            <li>{{soil.name}}</li>
        {% empty %}
            <div>No Soil</div>
        {% endfor %}
    </ul>
</div>

{% endblock %}