{% extends 'base.html' %}
{% block body %}

<h1>{{username}}'s collection:</h1>
<div class = 'profile'>
    {% if username  == user.username %} 
        <a href = "{% url 'plant_create' %}">Plant Post</a>
        <a href = "{% url 'soil_create' %}">Soil Post</a>
    {% endif %}
    {% for plant in plants %}
        <img style = 'width: 20%' src={{plant.img.url}}/>
        <a href = "/plants/{{plant.id}}/">
        <h4 class = 'name'>Name: {{plant.name}}</h4>
        {% if username == user.username %}
            <a href = "{% url 'plant_update' plant.pk %}">Edit</a>
            <a href = "{% url 'plant_delete' plant.pk %}">Delete</a>
        {% endif %}
    </a>
    {% endfor %}
    {% for soil in soils %}
        <img style = 'width: 20%' src={{soil.img.url}}/>
        <a href = "/soil/{{soil.id}}/">
        <h4 class = 'name'>Name: {{soil.name}}</h4>
        </a>
    {% if username == user.username %}
        <a href = "{% url 'soil_update' soil.pk %}">Edit</a>
        <a href = "{% url 'soil_delete' soil.pk %}">Delete</a>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
