{% extends 'base.html' %}
{% block title %}
   Soil Page
{% endblock %}
 
{% block header %}
    <form>
        <div>
            <input type ='text' name='name' placeholder='Soil Name'/>
            <input type = 'submit' value='Search'/>
        </div>
    </form>
{% endblock %}
{% block body %}
   <h1>All Soils</h1>
   
   {% for soil in soils %}
        <img src={{soil.img.url}}/>
        <a class = 'detailLink' href ="{% url 'soil_detail' soil.pk %}">Name: {{ soil.name }}</a>
        <p>Planted By:
            <a href = '/user/{{soil.user.username}}/'>
                {{soil.user.username }}
            </a>
        </p>
   {% endfor %}
    
{% endblock %}